<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047549969031-dt31475kcahuc12r8ucuqqvcq1uin311.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047549969031-dt31475kcahuc12r8ucuqqvcq1uin311</string>
	<key>API_KEY</key>
	<string>AIzaSyD07uSJBGaO8IntNCMO_dmoZgxVAyNzfeU</string>
	<key>GCM_SENDER_ID</key>
	<string>1047549969031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manetsum</string>
	<key>PROJECT_ID</key>
	<string>manetsum-6ced1</string>
	<key>STORAGE_BUCKET</key>
	<string>manetsum-6ced1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047549969031:ios:9b8b2351d56de94215ae22</string>
</dict>
</plist>